*{
    padding: 0;
    margin: 0;
}
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.carousel-item img {
    width: auto;
    height: auto;
    object-fit: cover;
    
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 15px;
    width: 35px;
    color: rgb(7, 14, 20);
    background-color: rgb(89, 197, 240);
    border: 2px rgb(20, 16, 17) solid;
}

.carousel-prev {
    left: 0;
    height: 28px;
    width: 72px;

}

.carousel-next {
    right: 0;
    height: 25px;
    width: 60px;
}

h3{
    font-family: 600;
    font-size: 40px;
    color: rgb(17, 0, 255);
}
p{
    font-family: 600;
    font-size: 20px;
    color: rgb(255, 0, 13); 
}

